{% extends "layout.html.twig" %}

{% block pageTitle %}
    Завершение офрмления заказа
{% endblock %}

{% block content %}
    <h1>Спасибо за покупку!</h1>
    <div id="create_form_wrapper">
    </div>
{% endblock %}