{% extends "layout.html.twig" %}

{% block pageTitle %}
    Оформление заказа
{% endblock %}

{% block content %}
    <h1>Оформление заказа</h1>
    {% if cart.products|length > 0 %}
        <div id="{{ form.vars.id }}_wrapper">
            {% include ['Order/', form.typeCode.vars.value, '_creation_ajax.html.twig']|join with { form: form, cart: cart } only %}
        </div>
        <div id="products" class="block cart w40p r">
            {% include 'Order/cart_ajax.html.twig' with { form: form, cart: cart } only %}
        </div>
        {% include 'Order/disclaimer.html.twig' %}
    {% else %}
        Ваша корзина пуста.
    {% endif %}
{% endblock %}
