{% if not app.userIsEmployee %}
<div class="disclaimer">
    Нажимая кнопку «Подтвердить заказ», я подтверждаю свою дееспособность, согласие на получение информации об оформлении и получении заказа, согласие на обработку персональных данных и условиях сайта в соответствии с указанным <a class="ajax" href="javascript:void(0)" data-popup="Disclaimer">здесь</a> текстом.
</div>
{% endif %}

{% include 'User/is_human_form.html.twig' with { form: form } only %}

<div class="disclaimer">
    Нажимая кнопку «Подтвердить заказ», я подтверждаю свою дееспособность, согласие на получение информации об оформлении и получении заказа, согласие на обработку персональных данных и условиях сайта в соответствии с указанным <a class="ajax" href="javascript:void(0)" data-popup="Disclaimer">здесь</a> текстом.
</div>

<div class="row">
    <a href="/cart/" class="bttn light prev">Вернуться в корзину <span class="hide">В корзину</span><i></i></a>
    {{ form_widget(form.submit, {
        label: 'Подтвердить заказ',
        attr: {
            class: 'bttn green r',
            onclick: [
                (app.environment is same as('prod') ?"yaCounter13639594.reachGoal('ordersuccess');" : ""),
                " return true;"
            ]|join
        }
    }) }}
    {{ form_widget(form._token) }}
</div>

{# {% block javascripts %}
<script>
    $(function() {
        console.log('1111');
    });
    </script>
{% endblock %} #}
