<h4>Ваша заявка №{{ orderId }} принята</h4>
<p>{{ baseProductName }}</p>
<p>Менеджер свяжется с Вами, как только товар будет доступен для заказа.</p>
<p style="color:red;"><b>Внимание!</b> При поступлении товара цена может измениться.</p>
