<div class="content">
    <h4>Ваша заявка №{{ order.number }} принята</h4>
    <p style="font-size:14px;margin-bottom:20px">{{ baseProduct.name }}</p>
    <p>Менеджер свяжется с Вами, как только товар будет доступен для заказа.</p>
    <p class="danger"><b>Внимание!</b> При поступлении товара цена может измениться.</p>
</div>
