{% extends "layout.html.twig" %}

{% block pageTitle %}Вход на сайт в интернет-магазине Vseinet.ru{% endblock %}

{% block content %}
    <h1>Вход на сайт</h1>
    <div class="block gray w40p">
        <div class="wrapper">
            {% if app.user %}
                <p style="font-size:14px;margin-bottom:10px;"><b>Вы уже авторизованы.</b></p>
                Быстрые ссылки:
                <ul>
                    <li><a href="{{ path('user_account') }}">Настройки аккаунта</a></li>
                    <li><a href="{{ path('order_history') }}">История заказов</a></li>
                    <li><a href="{{ path('favorite') }}">Избранное</a></li>
                </ul>
            {% else %}
                {% include 'Security/login_form.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
