/app/config/parameters.yml
/app/config/bus-services.yml
/app/config/cache.yml
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/*
!/web/robots.txt
!/web/images/
!/web/sitemap.xml
/.idea
/nbproject
/node_modules/*
/../.php_cs.cache
/bin/sphinx/*
