/.web-server-pid
/app/config/parameters.yml
/app/config/bus-services.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/*
/.idea 
/nbproject
/bin/node_modules/*
!/var/tempstore/
/var/tempstore/*
!/var/barCodesCache/
/var/barCodesCache/*
/node_modules/*
/bin/sphinx/*
/composer.lock
/yarn.lock
/front/*