<div id="upper-paging">
    {% include 'SiteBundle:Catalog:paging.html.twig' %}    
</div>
<div id="product-list">
    {% if products|length %}
        {% include 'SiteBundle:Catalog:products_list.html.twig' %}
    {% else %}
        <p>Не найдено ни одного товара, удовлетворяющего заданным параметрам.</p>
    {% endif %}
</div>
<div class="showmore-container" id="showmore-container">
    {% include 'SiteBundle:Catalog:showmore.html.twig' %}
</div>
<style>
    #upper-paging .paging { padding-top: 10px; text-align: right; }
</style>