.account-info DL {
    margin-bottom: 13px;
    overflow: hidden;
} 
.account-info DT {
    float: left;
    width: 120px;
}
.account-info .change-password {
    float: right;
}
.account-table {
    margin-bottom: 15px;
    width: 100%;
}
.account-table THEAD {
    border-bottom: 1px solid #dcdcde;
}
.account-table TBODY TD {
    padding: 3px 0;
}
.account-table TBODY TR:hover TD {
    background: #fefefe;
}
.account-table .icon {
    border: none;
    float: left;
    height: 16px;
    width: 16px;
}
.account-table .main * {
    font-weight: 700;
}
.account-table .contact-edit,
.account-table .address-edit {
    background: url('../images/edit_small.png');
    margin-right: 6px;
}
.account-table .contact-delete,
.account-table .address-delete {
    background: url('../images/delete.gif');
}

#user-edit-form .gender {
    padding-top: 6px;
}
#user-edit-form .gender INPUT {
    float: left;
}
#user-edit-form .gender LABEL {
    margin: 0 0 0 3px;
    padding: 0;
}
#user-edit-form .gender .status {
    margin-top: 0;
}
#user-edit-form .subscribe INPUT {
    float: left;
}
#user-edit-form .subscribe LABEL {
    margin: 0 0 0 3px;
    padding: 0;
    width: auto;
}