#catalog {
	margin-left: -50px;
}
	#catalog H1,
	#catalog .breadcrumbs {
		padding-left: 50px;
	}
	#catalog .category {
		float: left;
		height: 280px;
		padding: 10px 0 0 50px;
		width: 20%;
	}
	#catalog .category .title {
        margin: 0 0 23px;
        padding-top: 0;
        line-height: 1;
        font-size: 18px;
	}
	#catalog .category .title small {
        position: static;
        top: 0;
	}
	#catalog .category .title a {
        font-size: 16px;
        font-weight: bold;
	}
		#catalog .category .image {
			border: none!important;
			display: block;
			height: 200px;
			margin: 0 0 10px;
			width: 100%;
		}
        #catalog .category .image img{
            max-width: 100%;
        }

.sale .cart-quantity {
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 10px;
    width: 40px;
}
.sale .sale-btns.in-cart .cart-quantity {
    top: 24px;
}
.sale .sale-btns {
    clear: both;
    width: 100%;
    text-align: right;

}
.sale.in-cart .sale-btns.to-cart,
.sale.to-cart .sale-btns.in-cart {
    display: none;
}
.sale.in-cart .cart-del {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAANlBMVEX/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEwAAAD/bExUtJmjAAAAEXRSTlNGN/wG1+FTOS74oJ2SqgMBAKDYoZsAAABlSURBVHgBLc1dEsMgDANhNUkB9wfW979sS2Tevh3GEjwmfquDaPGd5vtoaETmDn9mHl3rk3fYzNcUDqeJcHiaCAfTZl37x4ntU7Wi4lVB1FDNqshy0IjNWokuFJt3iIZgmLAG/ADWjgyBL0J/RAAAAABJRU5ErkJggg==) no-repeat;
    border: none;
    display: block;
    height: 15px;
    left: 36px;
    margin: 0 auto;
    position: relative;
    top: 8px;
    width: 15px;
}
.sale .price-value.price-ultimate {color:#00980D;}
.sale .price-value.price-manual {color:#C200BB;}
.sale .price-value.price-compared.price-compared {color:blue;}
.sale .price-value.price-temporary.price-temporary {color:#EA9B00;}
.sale .price-value.price-recommended {color:lightseagreen;}
.sale .price-value.price-pricelist {color:#C15300;}
.sale .price-value.price-sellout {color:#F91D1D;}
.sale .price-value.price-ordered {color:#B7CF10;}
.sale .price-value.price-standard {color:black;}
