#cheaper-request-form #lfsHelpUser {
    position: absolute;
    color: #A9A9A9;
    font-size: 14px;
    left: 261px;
    top: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#cheaper_content .product-name {
    font-size:14px;
    padding-top:5px;
}
#cheaper_content .link-example {
    white-space:nowrap;
}
