#complaint-form #lfsHelpUser {
    position: absolute;
    color: #A9A9A9;
    font-size: 14px;
    left: 261px;
    top: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.complaint-notice {
    line-height: 28px;
    margin:0;
}
.complaint-notice .violet {
    color:darkviolet;
    font-size:24px;
}
.complaint-notice .violet.phone,
.complaint-notice .violet.schedule {
    color:darkviolet;
    font-size:24px;
}
