/* populars
-------------------------------------------------------------------*/
#populars {
	clear: both;
	margin: 0 0 42px;
	overflow: hidden;
	width: 100%;
}
#populars h1{
	padding-top: 0;
}
	#populars .products {
		overflow: hidden;
		clear: both;
	}
	#populars .product {
		float: left;
		padding: 0 65px 17px 0;
		position: relative;
		width: 25%;
		min-height: 350px;
	}

		#populars .image {
			border: none;
			display: table-cell;
			height: 200px;
			margin: 0 0 5px;
			vertical-align: middle;
			width: 100%;
		}
		#populars H4 {
			margin: 4px 0;
		}
		#populars H5 {
			margin: 0 0 10px;
		}
		#populars .price {
			font-size: 18px;
			line-height: 1;
		}

#populars .see-more{
	display: none;
}

#lastview {
	clear: both;
	margin: 0 0 0px;
	overflow: hidden;
	width: 100%;
}
#lastview_content {
	margin: 0 0 20px;
	overflow: hidden;
	width: 100%;
}
#lastview_content .product {
    float: left;
    padding-right: 40px;
    width: 16.6%;
}
#products #lastview_content .product {
    width: 100%;
}
#lastview_content .product:nth-child(7){
    display: none;
}
#lastview_content .image {
    border: none !important;
}
#lastview_content .image img {
    width: 100px;
    height: 100px;
}
#lastview_content .price {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 10px;
}
