@media screen and (min-width: 768px) and (max-width: 991px){
	.holder {
	    width: 750px;
	  }
	 body{
	 	width: 100%;
	 	-webkit-transition: all 0.4s;
	 	-o-transition: all 0.4s;
	 	transition: all 0.4s;
	 }
	#nav{
		float: none;
		width: 100%;
		margin-bottom: 30px;
		padding-right: 0;
	}
	.smpl-container{
		min-width: 768px;
	}
	#top .claim{
		display: none;
	}
	#top .employee-statistics{
		display: none;
	}
	#top .employee-cabinet{
		display: none;
	}
	#top{
		height: 75px;
		position: relative;
	}
	#top .auth{
		display: none;
	}
	#top .mobile-collapsed .auth{
		display: block;
	}
	#top .holder{
		padding: 15px;
		position: static;

	}
	#top NAV A.cart{
		background-image: url('../icons/top_icon_mobile_basket.png');
	}
	#top NAV A.favorite{
		background-image: url('../icons/top_icon_mobile_favorite.png');
	}
	#top NAV A.status {
		background-image: url('../icons/top_icon_mobile_status.png');
	}

	#top NAV A{
		font-size: 13px;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 30px;
	}
	#top .mob-top-btn{
		display: block;
	}
	#header{
		padding-top: 30px;
		padding-bottom: 5px;
	}
	#header .location{
		display: none;
	}
	#header .menu{
		display: none;
	}
	#header .logo-area{
		margin-right: 5px;
		width: 25%;
		margin-top: 9px;
	}
	#header:before{
		left: 0;
		width: 100%;
	}
	#header .search{
		margin-right: 0;
		margin-top: 0;
	}
	#services{
		display: none;
	}
	#slideshow-sticky-wrapper{
    display: none;
	}
	#nav > a{
		display: none;
	}
	#tree-trigger{
		display: none;
	}
	#tree > UL{
		display: none;
		border: 1px solid #dcdcde;
		border-top: 0;
		padding-top: 10px;
		margin-top: -10px;
	}
	#tree{
		display: block;
		width: 100%;
		margin-bottom: 30px !important;
	}
	#tree .tree-title{
		border-radius: 8px;
		padding: 18px;
		font-size: 16px;
		line-height: 16px;
		position: relative;
		cursor: pointer;
	}
	#tree .tree-title:before{
		content: '';
		display: block;
		width: 10px;
		height: 100%;
		position: absolute;
		right: 20px;
		top: 0;
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		background: url(../icons/catalog_arrow.png) center no-repeat;
	}
	#tree .tree-title.mob_trigger_open:before{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	#tree .subtree{
		position: relative;
		left: 0;
		width: 100%;
		padding: 0;
		min-height: 0 !important;
		border: none;
		box-shadow: none;
		z-index: 0;
		margin-bottom: -2px;
	}
	#tree .product{
		display: none;
	}
	#tree .subtree UL LI:not(.top){
		display: none;
	}
	#tree .subtree UL LI:not(.top) a{
		font-size: 13px;
	}
	#tree .subtree ul.third-menu-open li{
		display: block;
		height: auto;
		padding-left: 0px;
	}
	#tree .subtree UL LI.top {
		padding: 0px 25px 0px 0px;

		border-bottom: 1px solid #cde9a2;
	}
	#tree .subtree ul.third-menu-open li.top{
		border-bottom: none;
		color: #5fad12;
	}
	#tree .subtree ul.third-menu-open li.top a{
		color: inherit;
	}
	#tree .subtree UL{
		float: none;
		width: 100%;
		padding: 0;
	}
	#tree .subtree > ul{
		margin-left: 20px;
		margin-right: 20px;
		width: auto;
	}
	#tree .subtree > ul:last-child li.top {
		border-bottom: none;
	}
	#tree > UL > LI  A{
		font-size: 14px;
		padding-top: 17px;
		padding-bottom: 17px;
		position: relative;
	}
	#tree > UL > LI > A:not(.special){
		background: #f5f5f5;
	}
	#tree .subtree ul.third-menu-open li.all {
		display: none;
	}
	#tree > UL > LI > A:not(.special):before{
		content: '';
		position: absolute;
		width: 8px;
		height: 100%;
		right: 20px;
		top: 0;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAJCAMAAAAmRK2vAAAARVBMVEXNzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc0AAADNzc3vARi8AAAAFnRSTlO+xcbb3PYZu9XWvRge2A/JEBa4LRsAL5TpLwAAADdJREFUeF41ybcRwCAABMGXd0jC3fdfKiSEO6tyJ0DZ1w6Kv9+K+CavQVA3q2v2EsZlnw+oHAloaqMDYVyR+MoAAAAASUVORK5CYII=') center no-repeat;
	}
	#tree > UL > LI.opened > a{
		color: #5fad12;
		background: #e9f7cd !important;
		font-weight: bold;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#tree > UL > LI.opened > a:after{
		content: '';
		border: 8px solid transparent;
  	border-top: 8px solid #e9f7cd;
  	border-bottom: 0;
  	position: absolute;
  	left: 20px;
  	bottom: -8px;
  	z-index: 15;
	}
	#tree > UL > LI.opened > a:not(.special):before{
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	#tree > UL > LI.opened > a > .go-to-category {
		display: block;
	}
	#tree .subtree ul.third-menu-open li.top .go-to-category{
		display: block;
		position: absolute;
	}
	#tree > UL > LI.opened{
		position: relative;
	}
	#content .wrapper{
		overflow: visible;
	}
	#slideshow {
		width: initial;
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 0;
		border-radius: 0;
	}
	#slideshow .tab, #slideshow .tab.fixed{
		display: inline-block;
		width: 16px;
		height: 16px;
		float: none;
		border-radius: 50%;
		background: #d1d2d5 !important;
		box-shadow: none;
		margin-top: 22px;
		margin-right: 10px;
	}
	#slideshow .tab.fixed{
		left: 0 !important;
	}
	#slideshow .tab.active{
		background: #5fad12 !important;
	}
	#slideshow .tab div{
		display: none;
	}
	#slideshow .cursor{
		display: none;
	}
	#slideshow .tabs{
		width: 100% !important;
		left: 0 !important;
		background: transparent;
		text-align: center;
	}
	#slideshow .sheet > A{
		border-bottom: none;
	}
	.benifits{
		margin-bottom: 30px!important;
	}
	.benifits .benifit{
		padding-left: 0;
	}
	.benifits .benifit SPAN{
		margin-left: 0;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	#specials H4{
		margin-bottom: 0;
	}
	#populars .product{
		width: 33.333334%;
		min-height: 400px;
	}
	#populars .image img{
		max-width: 80%;
	}
	#page-footer .logo-area{
		padding-right: 15px;
	}
	#page-footer .logo-area P{
		line-height: 18px;
	}
	#page-footer{
		height: auto;
	}
	#page-footer .holder{
		padding-bottom: 150px;
		overflow: hidden;

	}
	H1, DIV.title{
		margin-bottom: 20px;
	}
	#page-footer .menu LI{
		margin-bottom: 15px;
	}
	#page-footer .contacts{
		float: none;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding-top: 20px;
		border-top: 1px solid #dcdcde;
	}
	#page-footer .error-report{
		clear: both;
	}
	#page-footer .claim{
		float: right;
	}
	#page-footer .bttn.light{
		height: auto;
		padding: 8px 18px;
		margin-left: 10px;
		border-radius: 30px;
	}
	#page #top-sticky-wrapper{
		min-height: 70px;
	}
	.coll-sm-6{
		width: 50%;
		float: left;
                padding: 0;
	}
	.page_tree{
		margin-top: 20px;
	}
	#header::after{
		z-index: 1;
	}
	#category #ProductFilter{
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 250px;
		height: 100%;
		z-index: 100;
		padding-top: 80px;
		background: #f5f5f5;
		margin-left: -250px;
		-webkit-transition: all 0.4s;
		-o-transition: all 0.4s;
		transition: all 0.4s;
	}
	#category #ProductFilter.showfilter{
		margin-left: 0;
		overflow: scroll;
	}
	#ProductFilter.showfilter .filter .sheet{
		background: #fff;
	}
	#ProductFilter.showfilter .tab.last.apply{
		padding: 0;
		border: none;
	}
	#ProductFilter.showfilter .tab.last.apply .gray{
		display: none;

	}
	#ProductFilter.showfilter .tab.last.apply .bttn.r{
		display: block;
		margin-left: 15px;
		width: 215px;
		margin-top: 5px;
		margin-bottom: 20px;
		float: none;
		height: 50px;
		padding-top: 2px;
		font-size: 14px;
	}
	#ProductFilter.showfilter .close_mob_filter{
		display: block;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 20px;
		float: none;
		height: 50px;
		padding-top: 5px;
		font-size: 14px;
		position: fixed;
		width: 220px;
		left: 0;
		top: 10px;
		z-index: 10;
	}
	#ProductFilter.showfilter .mob_filter_reset{
		display: block;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 20px;
		float: none;
		height: 45px;
		padding-top: 5px;
		font-size: 13px;
		color: #000;
		border-radius: 35px;
		position: relative;
	}
	#ProductFilter.showfilter .mob_filter_reset:before{
		content: '';
		width: 20px;
		height: 20px;
		position: absolute;
		left: 68px;
		top: 12px;
		display: block;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAG1BMVEX/bEz/bEz/bEz/bEz/bEz/bEz/bEwAAAD/bEzqzt17AAAACHRSTlMbvRziv+QjAKTHVjIAAAA3SURBVHgBY1BJLy9zYvAwK09tZEhuToswYyizMG1OZyhP7jArh5BAEWOgCFDWwgykMrkRrMsBACskEnHDf3LzAAAAAElFTkSuQmCC) center no-repeat;
	}
	#category .price-wrapper .status{
		margin-top: 35px;
	}
	#category .product .sale .bttn.get-a-quote {
    height: 55px;
    padding-top: 12px;
	}
	.title.category-title{
		float: none;
		margin-bottom: 15px;
	}
	.mobile-filter-btn{
		display: block;
		width: 50%;
		float: left;
		padding-right: 15px;
		margin-bottom: 28px;
	}
	.mobile-filter-btn .bttn{
		width: 100%;
		height: auto;
		font-size: 14px;
		height: 50px;
		padding-top: 6px;
	}
	#category .wrapper{
		float: none;
		width: 100%;
		padding: 0;
	}
	#category .product .details{
		padding-left: 30px;
	}
	#catalog .category{
		width: 25%;
	}
	#category .product .sale{
		padding-top: 22px;
		padding-left: 24px;
	}
	#category .product .sale .bttn{
		height: 42px;
		padding-top: 5px;
	}
	.paging .page{
		font-size: 18px;
		margin-left: 18px;
		margin-right: 18px;
		line-height: 22px;
		margin-top: 0;
		width: 22px;
		text-align: center;
		border-bottom: none;
	}
	.paging .current{
		width: 38px;
		height: 22px;
		line-height: 22px;
		font-size: 18px;
	}
	.paging .current::before, .paging .current::after{
		border: 19px solid rgba(242, 108, 79, 0);
	}
	.paging .current::before {
	    top: -12px;
	    border-bottom: 12px solid #f26c4f;
	    border-top: none !important;
	}
	.paging .current::after {
	    bottom: -12px;
	    border-top: 12px solid #f26c4f;
	    border-bottom: none !important;
	}
	.paging .prev{
		height: 48px;
		padding-top: 5px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.paging .bttn.prev::before{
		border-right: 10px solid transparent;
		border-top: 24px solid #fff;
	}
	.paging .bttn.prev I::before{
		border-right: 10px solid transparent;
		border-top: 24px solid #d6d6d6;
	}
	.paging .bttn.prev::after {
    border-bottom: 24px solid #fff;
    border-right: 10px solid transparent;
	}
	.paging .bttn.prev I::after {
    border-bottom: 24px solid #d6d6d6;
    border-right: 10px solid transparent;
	}

	.paging .next{
		height: 48px;
		padding-top: 5px;
		padding-left: 21px;
		padding-right: 25px;
	}
	.paging .bttn.next::before{
		border-left: 10px solid transparent;
		border-top: 24px solid #fff;
	}
	.paging .bttn.next I::before{
		border-left: 10px solid transparent;
		border-top: 24px solid #d6d6d6;
	}
	.paging .bttn.next::after {
    border-bottom: 24px solid #fff;
    border-left: 10px solid transparent;
	}
	.paging .bttn.next I::after {
    border-bottom: 24px solid #d6d6d6;
    border-left: 10px solid transparent;
	}
	.sale .status.in-stock, .sale .status.not-available, .sale .status.on-order{
		margin-top: 0;
		margin-bottom: 25px;
	}
	nav.sort{
		background: -moz-linear-gradient(top, #fff, #eee 94%, #fafafa);
    background: -o-linear-gradient(top, #fff, #eee 94%, #fafafa);
    background: -webkit-linear-gradient(top, #fff, #eee 94%, #fafafa);
    background: -ms-linear-gradient(top, #fff, #eee 94%, #fafafa);
    background: linear-gradient(top, #fff, #eee 94%, #fafafa);
    border: 1px solid;
    border-color: #e9e9e9 #d9d9d9 #c8c8c8 #d6d6d6;
    width: 48%;
    padding: 0 13px;
    text-align: left;
    visibility: visible;
    margin-left: 2%;
    line-height: 35px;
    position: relative;
    border-radius: 4px;
    min-height: 50px;
    padding-top: 6px;
    color: #333333;
	}
	nav.sort:before{
		content: '';
		position: absolute;
		width: 8px;
		height: 50px;
		right: 20px;
		top: 0;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAJCAMAAAAmRK2vAAAARVBMVEXNzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc0AAADNzc3vARi8AAAAFnRSTlO+xcbb3PYZu9XWvRge2A/JEBa4LRsAL5TpLwAAADdJREFUeF41ybcRwCAABMGXd0jC3fdfKiSEO6tyJ0DZ1w6Kv9+K+CavQVA3q2v2EsZlnw+oHAloaqMDYVyR+MoAAAAASUVORK5CYII=') center no-repeat;
	}
	nav.sort .sort_title{
		display: inline-block;
		vertical-align: top;
	}
	nav.sort ul{
		display: inline-block;
		width: 140px;
		text-align: left;
	}
	nav.sort ul li > a{
		color: inherit;
		pointer-events: none;
	}
	nav.sort.choose-filt ul li a{
		pointer-events: auto;
	}
	nav.sort ul li{
		display: block;
	}
	nav.sort ul li:not(:first-of-type){
		display: none;
	}
	nav.sort.choose-filt ul li:not(:first-of-type){
		display: block;
		position: relative;
		z-index: 10;
	}
	nav.sort li > span{
		padding-top: 0;
		padding-bottom: 0;
		line-height: 20px;
	}
	.filter .tab{
		background-position-x: 95%;
	}
	#product .coll-md-5{
		min-height: 400px;
	}
	#product .coll-sm-6 , #product .coll-md-1{
		padding-left: 15px;
		padding-right: 15px;
	}
	#product .sale{
		padding-left: 15%;
		padding-right: 15%;
		padding-bottom: 20px;
		margin-bottom: 10px;
	}
	#product .sale .rating{
		margin-top: 4px;
	}
	#product .sale .sale-btns.to-cart .bttn{
		height: 46px;
		padding-top: 5px;
		margin-bottom: 10px;
		border-radius: 4px;
		width: 170px;
	}
	#product .delivery + .help{
		display: none;
	}
	#product .delivery{
		margin-bottom: -50px;
	}
	#product .delivery dl{
		padding-left: 20px;
	}
	#product .delivery ul{
		text-align: left;
	}
	#product .delivery .links{
		margin-left: 20px;
	}
	#product .gallery{
		float: none;
		height: auto;
		clear: both;
	}
	#product .gallery img{
		display: inline-block;
	}
	#product .row{
		margin-bottom: 50px;
	}
	#product .socials .bm{
		margin-left: 0;
	}
	#product .tabs{
		padding: 9px 20px;
	}
	#product .tabs li{
		padding-right: 15px;
	}
	#product .ui-tabs-panel{
		margin-top: 0;
		border-top-width: 10px;
		margin-bottom: 0;
	}
	#product .ui-tabs-panel#tab-overview, #product .ui-tabs-panel#tab-details{
		padding-right: 0;
	}
	#product .ui-tabs-panel .content p{
		margin-bottom: 0;
	}
	#product DIV.details H3{
		margin-bottom: 22px;
	}
	#product DIV.details H3.garanty_title{
		margin-bottom: 12px;
	}
	#product DIV.details DL{
		margin-bottom: 7px;
	}
	#product .ui-tabs-panel .column{
		float: none;
		width: 100%;
	}
	#product .ui-tabs-panel .column{
		margin-left: 0 !important;
	}
	#product .ui-tabs-panel .description{
		padding-left: 0;
		padding-top: 35px;
	}
	#product .ui-tabs-panel .help{
		margin-right: 0;
		padding-left: 0;
		float: none;
		display: block;
		margin-top: 30px;
		width: 100%;
	}
	#products-sticky-wrapper{
		float: none!important;
		width: 100%!important;
		height: auto!important;
		clear: both;
	}
	#products.cart .summary .wrapper{
		height: 100px;
	}
	#products.w40p.r{
		float: none;
		width: 100%;
		clear: both;
	}
	#Account .row{
		margin-left: 0;
	}
	#content .product + .wrapper{
    overflow: hidden;
	}
	form.w60p{
		width: 100%;
	}
	.w60p{
		width: 100%;
		float: none;
	}
	.cart-table .cart-table-head{
		margin-bottom: 11px;
	}
	#content .order-history .wrapper{
		overflow: hidden;
	}
	DIV.order-history .column{
		width: 50%;
	}
	.ui-dialog{
		max-width: 90%;
	}
	.Cart .summary .cupon{
		width: 38%;
		margin-left: 30%;
		padding-left: 0;
		padding-right: 0;
	}
	.Cart .action{
		text-indent: 0;
		background: #cdcdcd !important;
		border-radius: 50%;
		color: #fff;
		width: 32px;
		height: 32px;
		font-size: 28px;
		line-height: 30px;
		text-align: center;
	}
	.Cart .action.dec, .Cart .action.inc{
		top: 0;
	}
	.cart-table .quantity{
		padding-top: 0px;
	}
	.cart-table .price{
		padding-top: 12px;
	}
	.Cart .btns{
		padding-top: 0px;
	}
	.cart-table .quantity .txt{
		height: 42px;
		margin-top: -4px;
	}
	.Cart .action.dec{
		line-height: 33px;
	}

	.Cart .btns .delete.action{
		position: relative;
		overflow: hidden;
	}
	.Cart .btns .delete.action:before{
		content: 'x';
		background: #cdcdcd;
		border-radius: 50%;
		position: absolute;
		display: block;
		font-size: 28px;
		line-height: 30px;
		text-align: center;
		color: #fff;
		width: 32px;
		height: 32px;
	}
	.Cart .btns .favorite.action{
		display: none;
	}
	.Cart .summary .prev{
		height: 44px;
		padding-top: 5px !important;
	}
	.Cart .summary .next{
		height: 44px;
		padding-top: 5px !important;
	}

	.Cart .summary .bttn.next:before,
	.Cart .summary .prev:before	{
		border-top-width: 21px;
	}
	.Cart .summary .bttn.next:after,
	.Cart .summary .bttn.prev:after{
		border-bottom-width: 21px;
	}
	.Cart .summary .cupon .txt, .Cart .summary .cupon .bttn{
		height: 48px;
	}
	#related .product{
		width: 25%;
	}
	#related .product:nth-child(5),
	#related .product:nth-child(6){
		display: none;
	}
	#lastview_content .product{
		width: 25%;
	}
	#lastview_content .product:nth-child(5),
	#lastview_content .product:nth-child(6){
		display: none;
	}
	.representatives .city{
		float: left;
		width: 50%;
		margin-bottom: 20px;
	}
	.representatives .city .wrapper{
		min-height: 155px;
	}
	#contacts .representatives{
		display: block;
	}
	#contacts .contact_sections_title{
		clear: both;

	}
	#about .benifits{
		width: 100% !important;
	}
	#about .benifits .benifit{
		min-width: 20%;
	}
	#about .columns .content{
		min-width: 50%;
	}
	#about .ui-tabs-panel + h1{
		padding-top: 0;
		clear: both;

	}
	#delivery .is-sticky .tabs{
		margin-top: -20px!important;
	}
	.is-sticky #compare-head{
		margin-top: 35px;
	}
	#Complaint .bttn.r, {
		margin-bottom: 27px;
	}
	#Suggestion .bttn.r{
		margin-bottom: 15px;
	}
	#Complaint + .w40p.r{
		float: none;
		clear: both;
		width: 100%;
	}
	#Order{
		float: none;
		width: 100%;
	}
	#Order fieldset .wrapper{
		padding: 0 30px 30px;
	}
	#Order fieldset.block.gray{
		background: #fff;
	}
	#Order fieldset .wrapper h2{
		font-size: 16px;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 30px;
		margin-left: -30px;
		margin-right: -30px;
		background: #f5f5f5;
		border-radius: 6px 6px 0 0;
	}
	#Order .row.h LABEL .txt{
		height: 50px;
	}
	#Order .bttn.prev{
		height: 45px;
		padding-top: 4px;
		margin-left: 15px;
	}
	#Order .bttn.green{
		height: 45px;
		margin-right: 15px;
	}
	#Order .bttn.prev::after {
    border-bottom: 22px solid #fff;
	}
	#Order .bttn.prev::before {
    border-top: 22px solid #fff;
	}
	#Order + #products-sticky-wrapper #products.cart .bttn{
		height: 46px;
		padding-top: 5px;
		text-align: center;
		width: 125px;
	}


}




@media screen and (min-width: 992px) and (max-width: 1160px) {
  .holder {
    width: 970px;
    padding-left: 15px;
		padding-right: 15px;
  }
  #header .logo-area{
  	width: 15.5%;
  }
  #product .image{
  	width: 300px;
  }
	#tree:not(.page_tree) {
      width: 100%;
  }
  #tree .subtree{
  	left: 100%;
  }
  #specials .product{
  	padding-right: 30px;
  }
  #tree > UL > LI > A:not(.special){
  	background-position: 95% center !important;
  }
  .coll-md-5{
		width: 41.66666667%;
		float: left;
		padding-left: 15px;
		padding-right: 15px;
	}
	.coll-md-3{
		width: 25%;
		float: left;
		padding-left: 15px;
		padding-right: 15px;
	}
	.coll-md-1{
		width: 8.33333333%;
		float: left;
		padding-left: 15px;
		padding-right: 15px;
	}

}

@media screen and (max-width: 768px){
	body{
	 	width: 100%;
	 	-webkit-transition: all 0.4s;
	 	-o-transition: all 0.4s;
	 	transition: all 0.4s;
	}
	.holder {
    width: 100%;
    padding-left: 15px;
		padding-right: 15px;
  }
  #nav{
		float: none;
		width: 100%;
		margin-bottom: 20px;
		padding-right: 0;
		overflow: hidden;

	}
	#content .wrapper{
		overflow: visible;
	}
	.smpl-container{
		min-width: 100%;
	}
	#top{
		height: 75px;
	}
	#top nav{
		margin-top: 0;
		padding-top: 0;
	}
	#top nav a{
		display: inline-block;
		text-indent: -9999px;
		width: 21px;
	}
	#top .auth{
		display: none;
	}
	#top .holder{
		padding: 15px;
		padding-top: 28px;

	}
	#top .mob-top-btn{
		display: block;
		width: 65px;
	}
	#top .mobile-collapsed.in{
		margin-left: 0;
		overflow: scroll;
	}
	#top .mobile-collapsed .auth{
		display: block;
	}
	#top .mobile-collapsed .mobile-top-menu{
		float: none;
		display: block;
		clear: both;
	}
	#top .mobile-collapsed .mobile-top-menu li a{
		text-indent: 0;
		display: inline-block;
		padding-right: 0;
		margin-right: 0;
		width: auto;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#top NAV A.cart{
		background-image: url('../icons/top_icon_mobile_basket.png');
	}
	#top NAV A.favorite{
		background-image: url('../icons/top_icon_mobile_favorite.png');
	}
	#top NAV A.status {
		background-image: url('../icons/top_icon_mobile_status.png');
	}
	#top .claim{
		display: none;
	}
	#top .employee-statistics{
		display: none;
	}
	#top .employee-cabinet{
		display: none;
	}
	#header .location{
		display: none;
	}
	#header .menu{
		display: none;
	}
	#header .logo-area{
		margin-right: 30px;
	}
	#tree {
      width: 100%;
  }
	#tree > UL{
		display: none;
	}
	#user-account.ui-tabs .tabs{
		margin-bottom: 25px;
	}
/*	#user-account h1 a, #user-account h1 img{
		display: none;
	}*/
	#services{
		display: none;
	}
	#nav > a{
		display: none;
	}
	#tree-trigger{
		display: none;
	}
	#tree{
		display: block;
		margin-bottom: 20px ;
	}
	#tree .tree-title{
		border-radius: 8px;
		padding: 15px;
		font-size: 18px;
		line-height: 1em;
		position: relative;
		cursor: pointer;
	}
	#tree > UL {
    border: 1px solid #dcdcde;
    border-top: 0;
    padding-top: 10px;
    margin-top: -10px;
	}
	#tree .tree-title:before{
		content: '';
		display: block;
		width: 10px;
		height: 100%;
		position: absolute;
		right: 20px;
		top: 0;
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		background: url(../icons/catalog_arrow.png) center no-repeat;
	}
	#tree .tree-title.mob_trigger_open:before{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	#tree .subtree{
		position: relative;
		left: 0;
		width: 100%;
		padding: 0;
		min-height: 0 !important;
		border: none;
		box-shadow: none;
	}
	#tree .product{
		display: none;
	}
	#tree .subtree UL LI:not(.top){
		display: none;
	}
	#tree .subtree ul.third-menu-open li{
		display: block;
		height: auto;
		padding-left: 0px;
	}
	#tree .subtree UL LI.top{
		padding: 0px 25px 0px 0px;

		border-bottom: 1px solid #cde9a2;
	}
	#tree .subtree ul:last-child li.top {
		border-bottom: none;
	}
	#tree .subtree ul.third-menu-open li.top{
		border-bottom: none;
		color: #5fad12;
	}
	#tree .subtree ul.third-menu-open li.top a{
		color: inherit;
	}
	#tree .mobile-all {
		display: block;
	}
	#tree .subtree UL.mobile-all LI.top {
		border-bottom: none;
	}
	#tree .mobile-all .go-to-category {
	    font-size: 14px;
    	text-decoration: none !important;
	    position: static;
	    color: #5fad12;
	}
	#tree .subtree UL{
		float: none;
		width: auto;
		padding: 0;
		margin-left: 25px;
		margin-right: 25px;
	}
	#tree .subtree ul li.all a {
		color: #5fad12;
	}
	#tree > UL > LI  A{
		font-size: 14px;
		padding-top: 15px;
		padding-bottom: 15px;
		position: relative;
	}
	#tree > UL > LI > A:not(.special){
		background: #f5f5f5;
	}
	#tree > UL > LI > A:not(.special):before{
		content: '';
		position: absolute;
		width: 8px;
		height: 100%;
		right: 20px;
		top: 0;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAJCAMAAAAmRK2vAAAARVBMVEXNzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc0AAADNzc3vARi8AAAAFnRSTlO+xcbb3PYZu9XWvRge2A/JEBa4LRsAL5TpLwAAADdJREFUeF41ybcRwCAABMGXd0jC3fdfKiSEO6tyJ0DZ1w6Kv9+K+CavQVA3q2v2EsZlnw+oHAloaqMDYVyR+MoAAAAASUVORK5CYII=') center no-repeat;
	}
	#tree > UL > LI.opened > a {
		color: #5fad12;
		background: #e9f7cd !important;
		font-weight: bold;
		padding-right: 50%;
		position: relative;
		padding-right: 25px;

	}
	#tree > UL > LI.opened > a:after{
		content: '';
		border: 8px solid transparent;
  	border-top: 8px solid #e9f7cd;
  	border-bottom: 0;
  	position: absolute;
  	left: 20px;
  	bottom: -8px;
  	z-index: 15;
	}
	#tree > UL > LI.opened > a:not(.special):before{
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	#tree > UL > LI.opened{
		position: relative;
	}
/*	#tree .subtree ul.third-menu-open li.top span.go-to-category{
		display: block;
		margin-right: 0;
		right: 10px;
	}	*/
	#category #slideshow{
		display: none;
	}
	#slideshow {
		height: auto;
		width: initial;
		margin-left: -15px;
		margin-right: -15px;
		border-radius: 0;
		margin-bottom: 10px;
	}
	#slideshow .sheets{
		height: 240px;
		/*pointer-events: none;*/
    /*-webkit-user-select: none;*/
	}
	#slideshow .back{
		background-position: left top;
		-webkit-background-size: cover;
		background-size: cover;
	}
	#slideshow .text H2{
		max-width: 90%;
		font-size: 20px;
	}
	#slideshow .tab, #slideshow .tab.fixed{
		display: inline-block;
		width: 12px;
		height: 12px;
		float: none;
		border-radius: 50%;
		background: #d1d2d5 !important;
		box-shadow: none;
		margin-top: 18px;
		margin-right: 5px;
		margin-bottom: -3px;
	}
	#slideshow .tab.fixed{
		left: 0 !important;
	}
	#slideshow .tab.active{
		background: #5fad12 !important;
	}
	#slideshow .tab div{
		display: none;
	}
	#slideshow .cursor{
		display: none;
	}
	#slideshow .tabs{
		width: 100% !important;
		left: 0 !important;
		background: transparent;
		text-align: center;
		height: auto;
	}
	#slideshow .sheet > A{
		border-bottom: none;
	}
	.benifits.mobile-benefits{
		display: block;
		overflow: visible;
	}
	.benifits:not(.mobile-benefits){
		display: none;
	}
	.benifits .benifit{
		padding-left: 0;
		float: none;
		width: 100%;
		margin-bottom: 24px;
		display: block;
		clear: both;
		font-size: 12px;
	}
	.benifits .benifit h4{
		font-size: 13px;
		display: inline;
	}
	.benifits .benifit SPAN{
		margin-left: 0;
		margin-right: 25px;
		margin-top: 9px;
		margin-bottom: 25px;
	}
	.content.stx H1, .content.stx H2{
		font-size: 18px;
	}
	H1, DIV.title{
		font-size: 18px;
	}
	.content P img{
		margin-top: 30px;
	}
	#specials h1{
		margin-bottom: 40px;
	}
	#specials .product{
		float: none;
		width: 100%;
		padding-right: 0;
		min-height: 120px;
		margin-bottom: 20px;
		clear: both;
	}
	#specials .product:after{
		content: ' ';
		display: table;
		clear: both;

	}
	#specials .product .image{
		width: 33.333334%;
		padding-right: 15px;
		float: left;
		height: auto;
	}
	#specials .product .image img{
		width: 100%;
	}
	#specials h4{
		margin-bottom: 25px;
		margin-left: 33.333%;
	}
	#specials .product .price{
		margin-left: 33.333%;
	}
	#specials .discount{
		left: 0;
		top: 6px;
	}
	#populars h1{
		margin-bottom: 10px;
	}
	#populars .product{
		float: none;
		width: 100%;
		padding-right: 0;
		min-height: 148px;
		margin-bottom: 20px;
		clear: both;
	}
	#populars H5{
		margin-bottom: 30px;
	}
	#populars .image{
		width: 33.333334%;
		padding-right: 15px;
		float: left;
		height: auto;
	}
	#populars .image img{
		max-width: 100%;
	}
	#populars .product h4{
		margin-bottom: 25px;
	}
	#populars .mobile-hide{
		display: none;
	}
	#populars .see-more{
		display: block;
		height: 40px;
		font-size: 14px;
		padding-top: 3px;
		clear: both;
		margin-top: 26px;
	}
	#page #top-sticky-wrapper{
		min-height: 70px;
	}
	.product .discount{
		font-size: 12px;
		width: 44px;
		height: 26px;
		line-height: 24px;
	}
	.product .discount:before, .product .discount:after{
		border: 22px solid rgba(255, 51, 0, 0);
	}
	.product .discount:before {
    top: -11px;
    border-bottom: 11px solid #f30;
    border-top: none;
	}
	.product .discount:after{
		bottom: -11px;
    border-top: 11px solid #f30;
    border-bottom: none;
	}
	.product .promo{
		top: 0;
	}
	#category .product .discount{
		left: 0;
		top: 11px;
	}
	#header{
		padding-top: 28px;
		padding-bottom: 5px;
	}
	#header .logo-area{
		float: none;
		width: 100%;
		text-align: center;
	}
	#header .logo-area .logo{
		margin-bottom: 5px;
	}
	#header .search{
		margin-right: 0;
		background: none;
		padding: 1px;
	}
	#header .search > DIV{
		border: 1px solid #efefef;
	}
	#header .search INPUT{
		box-shadow: none;
		border: 1px solid #efefef;
	}
	#header .skypeicq{
		display: none;
	}
	#lastview + .content.stx p{
		font-size: 12px !important;
		color: #999999;
	}
	#page-footer{
		height: auto;
		margin-top: -263px;
	}
	#page-footer .logo-area{
		float: none;
		width: 100%;
	}
	#page-footer .logo-area P{
		line-height: 18px;
	}
	#page-footer .holder{
		overflow: hidden;
	}
	#page-footer .menu{
		padding-left: 0;
		padding-right: 0;
		margin-left: -15px;
		margin-right: -15px;
		border-bottom: 1px solid #dcdcde;
	}
	#page-footer .menu ul{
		float: none;
		padding-right: 0;
	}
	#page-footer .menu LI{
		margin-bottom: 0px;
		padding-top: 17px;
		padding-bottom: 17px;
		border-top: 1px solid #dcdcde;
		padding-left: 15px;
		font-size: 14px;
	}
	#page-footer .menu LI a{
		font-weight: bold;
		text-decoration: none;
		border-bottom: 0;

	}
	#page-footer .location{
		display: none;
	}
	#page-footer .location DL{
		padding-left: 0;
		margin-bottom: 20px;
	}
	#page-footer .location DL:last-of-type{
		width: 50%;
	}
	#page-footer .contacts UL{
		width: 50%;
	}
	#page-footer .contacts{
		float: none;
		bottom: 0;
		left: 0;
		width: 100%;
		padding-top: 20px;
	}
	#page-footer .contacts_mobile{
		display: block;
	}
	#page-footer .contacts:not(.contacts_mobile){
		display: none;
	}
	#page-footer .contacts.contacts_mobile .location{
		display: block;
		margin-top: -12px;
	}
	#page-footer .error-report{
		clear: both;
		margin-left: 0;
		padding-top: 20px;
		display: none;

	}
	#page-footer .claim{
		float: right;
	}
	#page-footer .bttn.light{
		height: auto;
		padding: 8px 18px;
		margin-left: 0px;
		border-radius: 30px;
		float: none;
		margin-bottom: 15px;
		margin-right: 20px;
	}
	#page-footer .socials{
		clear: both;
		float: none;
		margin-left: -15px;
		margin-right: -15px;
		border-top: 1px solid #dcdcde;
		padding-top: 18px;
	}
	#slideshow-sticky-wrapper{
		display: none;
	}
	#category .wrapper{
		width: 100%;
		float: none;
		padding-left: 0;
	}
	#category .product{
		margin-bottom: 25px;
	}
	#category .product .details{
		width: 75%;
		padding-right: 0;
		padding-top: 0;
	}
	#category .product .sale{
		float: none;
		width: 100%;
		clear: both;
		text-align: center;
		padding-left: 0;
		padding-top: 0;
	}
	#category .product .sale .price-wrapper{
		padding-left: 25%;
		margin-left: 15px;
		text-align: left;
	}
	#category .product .image{
		height: 70px;
		overflow: hidden;
	}
	#category .product .image img{
		max-height: 100%;
		width: auto;

	}
	#category .product STRONG.price{
		float: none;
	}
	#category .product .sale .bttn.get-a-quote{
		height: 55px;
		padding-top: 12px;
	}
	.sale .status.in-stock, .sale .status.not-available, .sale .status.on-order{
		float: none;
		vertical-align: top;
		padding-left: 0;
	}
	.sale .sale-btns{
		text-align: center;
	}
	#category .product .sale .bttn{
		width: 47%;
		height: auto;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	#category .product .sale .bttn:first-of-type{
		margin-right: 2%;
	}
	#category .product .title SMALL{
		display: inline-block;
	}
	#category .product .sale .price-wrapper{
		min-height: 55px;
	}
	.filter .tab{
		background-position-x: 95%;
	}
	#catalog .category{
		float: none;
		width: 100%;
		clear: both;
		height: auto;
	}
	#catalog .category .image{
		width: 25%;
		float: left;
		margin-right: 30px;
		height: auto;
		margin-bottom: 30px;
	}
	#catalog .category .image img{
		width: 100%;
	}
	#catalog .category h4 small{
		display: block;
		margin-top: 5px;
	}
	#category .product .sale-discount .price{
		background: transparent;
	}
	#category .product .price .old:after{
		display: none;
	}
	#category .product .price .old{
		text-decoration: line-through;
	}
	#category .product .price .new{
		color: inherit;
	}
	#City.popup .column{
		float: none;
		width: 100%;
	}

        #history table td,
        #history table th {
            padding: 3px 3px;
        }

	.w60p{
		float: none;
		width: 100%;
	}
	.w40p{
		width: 100%;
		float: none;

	}
	.w40p.r{
		float: none;
		width: 100%;
		clear: both;
		margin-top: 15px;
	}
	#related{
		width: 100%;
	}
	#related .product{
		float: none;
		width: 100%;
		padding-right: 0;
		margin-bottom: 20px;
		clear: both;
	}
	#related .product h6{
		margin-bottom: 30px;
	}
	#related .image{
		width: 33.333334%;
		padding-right: 15px;
		float: left;
		height: auto;
	}
	#related .image img{
		max-width: 100%;
		height: auto;
	}
	#related .product h4{
		margin-bottom: 20px;
	}
	#lastview_content{
		width: 100%;
	}
	#lastview_content .product{
		float: none;
		width: 100%;
		padding-right: 0;
		margin-bottom: 20px;
		clear: both;
	}
	#lastview_content .product h6{
		margin-bottom: 30px;
	}
	#lastview_content .image{
		width: 33.333334%;
		padding-right: 15px;
		float: left;
		height: auto;
	}
	#lastview_content .image img{
		max-width: 100%;
		height: auto;
	}
	#lastview_content .product h4{
		margin-bottom: 20px;
	}
	.paging{
		text-align: center;
		font-size: 16px;
	}
	.paging .prev{
		padding: 0;
		margin-right: 8px;
		margin-top: 3px;
		width: 15px;
		height: 15px;
		background: url(../icons/pager_mobile_arrow.png) left center;
		border: none;
		text-indent: -9999px;
		float: left;
	}
	.paging .next{
		padding: 0;
		margin-left: 8px;
		margin-top: 3px;
		width: 15px;
		height: 15px;
		background: url(../icons/pager_mobile_arrow.png) right center;
		border: none;
		text-indent: -9999px;
		float: right;
	}
	.paging .next:hover{
		background: url(../icons/pager_mobile_arrow.png) right center;
		border: none;
	}
	.paging .next i, .paging .prev i{
		display: none;
	}
	.paging .page{
		margin-top: 10px;
	}
	.paging .expandedPaging{
		display: none;
	}
	.ui-dialog{
		max-width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.ui-dialog .ui-dialog-title{
		white-space: normal;
		padding-left: 30px;
	}
	.ui-dialog .ui-dialog-content{
		padding-left: 15px;
		padding-right: 15px;
	}
	FORM .row.h{
		padding-left: 0;
	}
	FORM .row.h LABEL{
		margin-left: 0;
		float: none;
		margin-bottom: 5px;
	}
	#product .image{
		width: 100%;
		float: none;
	}
	#product .image img{
		max-width: 100%;
	}
		#product .sale{
		padding-left: 17%;
		padding-right: 17%;
		padding-bottom: 20px;
		margin-bottom: 10px;
	}
	#product .sale .sale-btns.to-cart .bttn{
		height: 46px;
		padding-top: 5px;
		margin-bottom: 10px;
		border-radius: 4px;
	}
	#product .delivery + .help{
		display: none;
	}
	#delivery .tabs{
		margin-left: 0!important;
		margin-top: 0!important;
	}
	#product .delivery{
		padding-left: 10px;
		padding-right: 10px;
	}
	#product .delivery dl{
		padding-left: 20px;
	}
	#product .delivery ul{
		text-align: left;
	}
	#product .delivery .links{
		margin-left: 20px;
	}
	#product .gallery{
		float: none;
		height: auto;
		clear: both;
		margin-bottom: 18px;
	}
	#product .gallery img{
		display: inline-block;
	}
	#product .row{
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 30px;
	}
	#product .socials{
		margin-top: 20px;
	}
	#product .socials .bm{
		margin-left: 0;
		margin-top: -6px;
	}
	#product .ui-tabs-panel#tab-overview, #product .ui-tabs-panel#tab-details{
		padding-right: 0;
	}
	#product .ui-tabs-panel{
		border-top-width: 20px;
	}
	#product .ui-tabs-panel table h3{
		margin-bottom: 18px;
	}
	#product .ui-tabs-panel h3.garanty_title{
		margin-bottom: 12px;
	}
	#product .ui-tabs-panel .column{
		float: none;
		width: 100%;
		margin-left: 0 !important;
		margin-bottom: 30px;
	}
	#product .ui-tabs-panel .column p{
		margin-bottom: 0;
	}
	#product DIV.offerta{
		padding-top: 0;
	}
	#product .ui-tabs-panel .description{
		padding-left: 0;
	}
	#product .ui-tabs-panel .help{
		margin-right: 0;
		padding-left: 0;
		float: none;
	}
	#product table.details td.name div{
		min-width: auto;
	}
	#product DIV.details DT{
		max-width: 62%;
	}
	#product.ui-tabs .tabs{
		padding: 7px 10px;
	}
	#product DIV.details H3{
		margin-bottom: 18px;
	}
	#related .price{
		font-size: 18px;
	}
	#lastview_content .price{
		font-size: 18px;
	}
	.ui-tabs .tabs LI{
		margin-right: 11px;
	}
	.product + .wrapper #related .product{
		margin-bottom: 44px;
	}
	.product + .wrapper #related{
		margin-top: 40px;
		margin-bottom: 30px;
	}
	.product + .wrapper #lastview_content .product{
		margin-bottom: 44px;
	}
	.product + .wrapper #lastview_content{
		margin-top: 40px;
		margin-bottom: 30px;
	}
	#favorite .cart-table .quantity{
		padding-top: 40px;
		clear: none;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 30px;
	}
	#lastview + .content.stx{
		display: none;

	}
	div#scroller{
		display: none!important;

	}
	#favorite .cart-table .delete .action{
		background: none !important;
		color: #0f68b1;
		font-size: 12px;
		height: auto;
		width: auto;
		border-radius: 0;
		border-bottom: 1px dashed #0f68b1 !important;
		line-height: 1;
		margin-top: 7px;
		text-indent: 0;
		margin-left: 15px;
		margin-top: 52px;
	}
	#favorite .cart-table .price{
		padding-left: 0;
		margin-left: -84px;
	}
	#favorite .cart-table .text h6:first-child{
		position: relative;
		max-height: 90px;
		padding-bottom: 10px;
		overflow: hidden;
	}
	#favorite .cart-table .text h6:first-child:before{
		content: '';
		display: block;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		height: 10px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	#favorite .cart-table .image{
		margin-bottom: 20px;
	}
	#Status + .status_tracker{
		float: none;
		width: 100%;
	}
	#Status + .status_tracker .position{
		margin: 0;
	}
	.cart-table .cart-table-head{
		display: none;
	}
	.cart-table .coll-md-6{
		float: none;
		width: 100%;
	}
	.cart-table .coll-md-3{
		clear: left;
		width: auto;
	}
	.cart-table .coll-md-2{
		width: auto;
	}
	.cart-table .coll-md-1{
		width: auto;
	}
	.cart-table .image{
		margin-bottom: 10px;
	}
	.Cart .action{
		text-indent: 0;
		background: #cdcdcd !important;
		border-radius: 50%;
		color: #fff;
		width: 36px;
		height: 36px;
		font-size: 36px;
		line-height: 36px;
		text-align: center;
	}
	.Cart .action.dec, .Cart .action.inc{
		top: 0;
	}
	.cart-table .quantity .txt{
		height: 46px;
		margin-top: -5px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.Cart .btns .delete.action{
		background: none !important;
		color: #0f68b1;
		font-size: 12px;
		height: auto;
		width: auto;
		border-radius: 0;
		border-bottom: 1px dashed #0f68b1 !important;
		line-height: 1;
		margin-top: 7px;
	}

	.Cart .btns .favorite.action{
		display: none;
	}
	.Cart .summary{
		padding-top: 150px;
		position: relative;
	}
	.cart-table .price{
		padding-top: 5px;
	}
	.Cart .cart-table .available{
		margin-bottom: 30px;
	}
	.Cart .cart-table .row{
		margin-bottom: 30px;
	}
	.cart-table{
		margin-bottom: 39px;
	}
	.cart-table .price{
		line-height: 32px;
	}
	.Cart .summary .cupon{
		position: absolute;
		top: 30px;
		width: 100%;
		margin: 0;
		padding: 0 15px;
	}
	.Cart .summary .order{
		max-width: 40%;
	}
	.Cart .summary .order .next, .Cart .summary .prev{
		text-indent: -9999px;
	}
	.Cart .summary .order .next{
		padding-right: 25px;
		position: relative;
		display: block;
	}
	.Cart .summary .prev{
		position: relative;
		display: block;
		width: 40%;
	}
	.Cart .summary .prev{
		height: 44px;
		padding-top: 5px !important;
	}
	.Cart .summary .next{
		height: 44px;
		padding-top: 5px !important;
	}

	.Cart .summary .bttn.next:before,
	.Cart .summary .prev:before	{
		border-top-width: 21px;
	}
	.Cart .summary .bttn.next:after,
	.Cart .summary .bttn.prev:after{
		border-bottom-width: 21px;
	}
	.Cart .summary .cupon .txt, .Cart .summary .cupon .bttn{
		height: 48px;
	}
	.Cart .summary .cupon .bttn{
		font-size: 14px;
	}
	.Cart .summary .order .next span, .Cart .summary .prev span{
		visibility: visible;
		text-indent: 0px;
		display: block !important;
		text-align: center;
		position: absolute;
		left: 0px;
		top: 4px;
		width: 100%;
	}
	.Cart .summary .order P{
		width: auto;
	}
	.cart-table .quantity{
		padding-top: 0;
	}
	.Cart .btns{
		float: right;
		margin-right: 15px;
		padding-top: 5px;
	}
	#Order{
		width: 100%;
		float: none;
	}
	#Order .row{
		margin-left: 0;
		margin-right: 0;
	}
	#Order .bttn.prev, #Order .bttn.r{
		text-indent: -9999px;
		position: relative;
		display: block;
		width: 40%;
		height: 42px;
	}
    #Order .bttn.prev {
        line-height:40px;
    }
	#Order .bttn.prev span.hide, #Order .bttn.r span.hide{
		display: inline !important;
		float: left;
		text-indent: 0;
		visibility: visible;
	}
	#Order .order_txt_info{
		padding: 25px 14px;
		position: relative;

	}
	#Order .order_txt_info p{
		margin-bottom: 5px;
	}
	#Order .order_txt_info p span.title{
		float: none;
	}
	#Order .order_txt_info h3{
		padding-right: 50px;
	}
	#Order .order_txt_info .change_info{
		position: absolute;
		margin-top: 0;
		float: none;
		right: 14px;
		top: 25px;
	}
	#Order fieldset .wrapper{
		padding: 0 14px 25px;
	}
	#Order fieldset.block.gray{
		background: #fff;
	}
	#Order fieldset .wrapper h2{
		font-size: 14px;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 14px;
		margin-left: -14px;
		margin-right: -14px;
		background: #f5f5f5;
		border-radius: 6px 6px 0 0;
	}
	#Order .row.h LABEL .txt{
		height: 50px;
	}
	#Order .row.h{
		padding-bottom: 0;
	}
	#Product_Application #nameHelp, #Order #lfsHelp{
		display: none;
	}
	#Order .bttn.prev span.hide, #Order .bttn.r span.hide{
		visibility: visible;
		text-indent: 0px;
		display: block !important;
		text-align: center;
		position: absolute;
		left: 0px;
		top: 4px;
		width: 100%;
	}
	#Order .bttn.r span.hide{
		top: 12px;
	}
	#products-sticky-wrapper{
		width: 100%;
		float: none;
		height: auto !important;
	}
	#products.cart .product div:not(.mobile-quantity-info){
		display: none;
	}
	#products.cart .product .mobile-quantity-info{
		display: block;
		padding-right: 0;
		margin-right: 0;
		width: auto;
		margin-top: 10px;
	}
	#products.cart .product .mobile-quantity-info p{
		display: inline;
		padding-right: 20px;
	}
	#products.cart .product{
		padding-right: 0;
	}
	#products.cart .code{
		white-space: normal;
	}
	#products.cart .all{
		float: none;
	}
	form .col.w150{
		width: 100%;
	}
	#about .cheap DL{
		float: none !important;
		width: 100% !important;
		margin: 0 !important;
	}
	#about .columns .content{
		float: none !important;
		width: 100% !important;
	}
	#about .columns{
		margin-left: 0!important;
		margin-right: 0!important;
	}
	#category #ProductFilter{
		display: none;
	}
	#lastview h3{
		margin-bottom: 30px;
	}
	#lastview #lastview_content .price{
		font-size: 18px;
		margin-left: 33.3%;
	}
	.title.category-title{
		float: none;
		margin-bottom: 15px;
	}
	.mobile-filter-btn{
		display: block;
		width: 50%;
		float: left;
		padding-right: 15px;
	}
	.mobile-filter-btn .bttn{
		width: 100%;
		height: auto;
		text-indent: -9999px;
		text-align: center;
		height: 50px;
		padding-top: 5px;
		position: relative;
	}
	.mobile-filter-btn .bttn .hide{
		display: block !important;
		float: left;
		text-indent: 0;
		visibility: visible;
		width: 100%;
		position: absolute;
		left: 0;
		top: 5px;
		text-align: center;
	}
	#category .wrapper{
		float: none;
		width: 100%;
		padding: 0;
	}
	nav.sort{
		background: -moz-linear-gradient(top, #fff, #eee 94%, #fafafa);
    background: -o-linear-gradient(top, #fff, #eee 94%, #fafafa);
    background: -webkit-linear-gradient(top, #fff, #eee 94%, #fafafa);
    background: -ms-linear-gradient(top, #fff, #eee 94%, #fafafa);
    background: linear-gradient(top, #fff, #eee 94%, #fafafa);
    border: 1px solid;
    border-color: #e9e9e9 #d9d9d9 #c8c8c8 #d6d6d6;
    width: 48%;
    padding: 0 0 0 5px;
    text-align: center;
    visibility: visible;
    margin-left: 2%;
    line-height: 35px;
    position: relative;
    border-radius: 4px;
    min-height: 50px;
    padding-top: 5px;
    color: #333333;
	}
	nav.sort:before{
		content: '';
		position: absolute;
		width: 8px;
		height: 50px;
		right: 8px;
		top: 0;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAJCAMAAAAmRK2vAAAARVBMVEXNzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc0AAADNzc3vARi8AAAAFnRSTlO+xcbb3PYZu9XWvRge2A/JEBa4LRsAL5TpLwAAADdJREFUeF41ybcRwCAABMGXd0jC3fdfKiSEO6tyJ0DZ1w6Kv9+K+CavQVA3q2v2EsZlnw+oHAloaqMDYVyR+MoAAAAASUVORK5CYII=') center no-repeat;
	}
	nav.sort .sort_title{
		display: inline-block;
		vertical-align: top;
		visibility: visible;
	}
	nav.sort .sort_title:not(.hide){
		display: none;
	}
	nav.sort ul{
		display: inline-block;
		text-align: left;
	}
	nav.sort ul li > a{
		color: inherit;
		margin-left: 0px;
		margin-right: 3px;
		pointer-events: none;
	}
	nav.sort.choose-filt ul li a{
		pointer-events: auto;
	}
	nav.sort ul li{
		display: block;
	}
	nav.sort ul li:not(:first-of-type){
		display: none;
	}
	nav.sort.choose-filt ul li:not(:first-of-type){
		display: block;
		position: relative;
		z-index: 10;
	}
	nav.sort li > span{
		padding-top: 0;
		padding-bottom: 0;
		line-height: 20px;
		margin-left: 0;
		padding: 1px;
	}
	.representatives .city{
		width: 100%;
		display: block;
		float: none;
	}
	#contacts .location dl, #contacts .location dl.email, #contacts .location dl.smaller{
		width: 100%;
		float: none;
		margin-bottom: 10px;

	}
	#category #nav{
		margin-bottom: 0;
	}
	#category{
		padding-top: 40px;
	}
	#category .product .title{
		margin-top: 10px;
	}
	#category .product .rating, #category .product .content, #category .product .compare {
		display: none;
	}
	#category .product .sale .bttn.cheaper{
		display: none;
	}
	#category .status-mobile-screens{
		display: block;
	}
	#category .status-all-screens{
		display: none;
	}
	#category .sale .status.on-order{
		text-align: left;
		margin-top: -10px;
		padding-left: 0;
	}
	#category .sale .sale-btns{
		margin-top: 25px;
	}
	#category .product .sale-discount .price{
		position: relative;
		padding-left: 0;
		top: 0;
	}
	#category .product .price .old{
		padding-left: 0;
	}
	.ui-tabs .tabs LI.ui-tabs-active:before,
	.ui-tabs .tabs LI.ui-tabs-active:after{
		display: none;
	}
	.representatives .city{
		margin-bottom: 20px;
	}
	DIV.order-history .actions{
		float: none;
		width: 100%;
	}
	DIV.order-history .column{
		float: none;
		width: 100%;
		margin-bottom: 25px;
	}
	DIV.order-history .row{
		display: block;

	}
	DIV.order-history .product{
		width: 100%;
		display: block;
	}
	.paging .page{
		font-size: 18px;
		margin-left: 13px;
		margin-right: 13px;
		line-height: 22px;
		margin-top: 0;
	}
	.paging .current{
		width: 38px;
		height: 22px;
		line-height: 22px;
	}
	.paging .current::before, .paging .current::after{
		border: 19px solid rgba(242, 108, 79, 0);
	}
	.paging .current::before {
	    top: -12px;
	    border-bottom: 12px solid #f26c4f;
	    border-top: none !important;
	}
	.paging .current::after {
	    bottom: -12px;
	    border-top: 12px solid #f26c4f;
	    border-bottom: none !important;
	}
	.paging .bttn.prev::before, .paging .bttn.prev::after, .paging .bttn.next::before, .paging .bttn.next::after{
		display: none;
	}
	#header::after{
		z-index: 1;
	}
	#category #ProductFilter{
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 250px;
		height: 100%;
		z-index: 100;
		padding-top: 80px;
		background: #f5f5f5;
		margin-left: -250px;
		-webkit-transition: all 0.4s;
		-o-transition: all 0.4s;
		transition: all 0.4s;
	}
	#category #ProductFilter.showfilter{
		margin-left: 0;
		overflow: scroll;
	}
	#ProductFilter.showfilter .filter .sheet{
		background: #fff;
	}
	#ProductFilter.showfilter .tab.last.apply{
		padding: 0;
		border: none;
	}
	#ProductFilter.showfilter .tab.last.apply .gray{
		display: none;

	}
	#ProductFilter.showfilter .tab.last.apply .bttn.r{
		display: block;
		margin-left: 15px;
		width: 215px;
		margin-top: 5px;
		margin-bottom: 20px;
		float: none;
		height: 50px;
		padding-top: 2px;
		font-size: 14px;
	}
	#ProductFilter.showfilter .close_mob_filter{
		display: block;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 20px;
		float: none;
		height: 50px;
		padding-top: 5px;
		font-size: 14px;
		position: fixed;
		width: 220px;
		left: 0;
		top: 10px;
		z-index: 10;
	}
	#ProductFilter.showfilter .mob_filter_reset{
		display: block;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 20px;
		float: none;
		height: 45px;
		padding-top: 5px;
		font-size: 13px;
		color: #000;
		border-radius: 35px;
		position: relative;
	}
	#ProductFilter.showfilter .mob_filter_reset:before{
		content: '';
		width: 20px;
		height: 20px;
		position: absolute;
		left: 68px;
		top: 12px;
		display: block;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAG1BMVEX/bEz/bEz/bEz/bEz/bEz/bEz/bEwAAAD/bEzqzt17AAAACHRSTlMbvRziv+QjAKTHVjIAAAA3SURBVHgBY1BJLy9zYvAwK09tZEhuToswYyizMG1OZyhP7jArh5BAEWOgCFDWwgykMrkRrMsBACskEnHDf3LzAAAAAElFTkSuQmCC) center no-repeat;
	}
	#Complaint .bttn.r{
		margin-bottom: 27px;
	}


}












@media screen and (min-width: 1160px) {
	.holder {
		width: 1170px;
		padding-left: 15px;
		padding-right: 15px;
	}
    #tree {
        width: 263px;
    }
    #tree > UL > LI > A {
		background-position: 243px center;
		padding: 8px 20px;
    }
    #populars .product.first {
        padding-right: 80px;
    }
	#tree .subtree {
		left: 263px;
	}
	#product TABLE.details TD.name DIV {
		min-width: 360px;
	}
	#category #nav{
		width: 263px;
		padding-right: 0;
		margin-right: 30px;
	}
	.coll-md-5{
		width: 41.66666667%;
		float: left;
		padding-left: 15px;
		padding-right: 15px;
	}
	.coll-md-3{
		width: 25%;
		float: left;
		padding-left: 15px;
		padding-right: 15px;
	}
	.coll-md-1{
		width: 8.33333333%;
		float: left;
		padding-left: 15px;
		padding-right: 15px;
	}
	#product .sale{
		width: 250px;
	}
	.product + .wrapper{
    overflow: hidden;
	}
	#page-footer .contacts{
		width: 256px;
	}
	#product .delivery + .help{
		margin-bottom: -22px;
	}
	#product .ui-tabs-panel .column.details{
		margin-right: 2%;
	}
	#specials h4{
		margin-bottom: 2px;
	}
	#specials .product .price .old::after{
		background: #f00;
	}
	#page-footer .socials{
		margin-top: -12px;
	}
	#about .benifits{
		max-width: 100%;
	}
	.benifits .benifit{
		min-width: 20%;
	}
	.Cart .summary .cupon{
		width: 300px;
	}
	#favorite .cart-table .row{
		margin-bottom: 20px;
	}
	#product DIV.details H3:not(.garanty_title){
		margin-bottom: 24px;
	}
	#Complaint .bttn.r , #Suggestion .bttn.r{
		margin-bottom: 15px;
	}

}





/*
@media screen and (min-width: 1300px) {
	#page-footer .holder {
		width: 708px;
	}
	.benifits .benifit {
		margin-right: 30px;
	}
	#specials .product {
		padding-right: 60px;
	}
	#populars .product {
		padding-right: 60px;
	}
	#related .product {
		padding-right: 25px;
	}

	#catalog .category {
		width: 210px;
	}
	#product .socials {
		padding-left: 30px;
	}
    #nav {
        padding-right: 30px;
        width: 250px;
    }
    .filter .price .txt {
        width: 70px;
    }
    .filter .tab {
        background-position: 226px 21px;
    }
    #tree {
        width: 250px;
    }
    #tree > UL > LI > A {
		background-position: 230px center;
		padding: 8px 20px;
    }
    #populars .product.first {
        padding-right: 80px;
    }
	#tree .subtree {
		left: 250px;
	}
	#product TABLE.details TD.name DIV {
		min-width: 395px;
	}
}

*/
@media screen and (min-width: 768px) and (max-width: 991px){
		#tree .mobile-all {
		display: none;
	}
}
