/* sort
-------------------------------------------------------------------*/
.sort {
    color: #999;
    float: right;
    line-height: 21px;
    padding-top: 26px;
}
.sort ul{
    display: inline;
}
.sort ul li{
    display: inline;
}
.sort li > A {
    margin-left: 15px;
}
.sort li > SPAN {
    background: #f8f8f8;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3) inset, 0 1px 0 rgba(0,0,0,0.08);
    color: #333;
    display: inline-block;
    margin-left: 15px;
    padding: 1px 9px;
}
.sort A SPAN:before {
    color: #555;
    margin: 0 0 0 5px;
    top: 2px;
}
