/* specials
-------------------------------------------------------------------*/
	#specials h2{
		padding-top: 10px;
		margin: 0 0 34px;
        font-size: 24px;
        line-height: 1.2;
	}
	#specials .products {
            overflow: hidden;
        }

	#specials .product {
		float: left;
		position: relative;
		width: 33.33333333%;
		min-height: 330px;
		padding-right: 65px;
		margin-bottom: 20px;
	}
	#specials .product .image {
		border: none;
		display: table-cell;
		height: 200px;
		margin: 0 0 5px;
		vertical-align: middle;
		width: 100%;
	}
		#specials .product .image IMG {
			width: auto;
		}
	#specials .product-title {
		margin: 2px 0 12px;
        font-size: 13px;
        font-weight: 700;
	}
	#specials .discount {
		left: 12px;
		top: 20px;
	}
	#specials .product .price {
		line-height: 28px;
	}
		#specials .product .price .old,
		#specials .product .price .new {
			float: left;
			margin-right: 8px;
		}
		#specials .product .price .old {
			color: #666;
	       	font-size: 13px;
	       	padding: 0;
	       	position: relative;
	       	text-decoration: none;
		}
			#specials .product .price .old:after {
				background: #666;
				content: ' ';
				height: 1px;
				left: 0;
				position: absolute;
				top: 50%;
				width: 100%;
				transform: none;
			}
		#specials .product .price .new {
			/*background: #f30;*/
			border-radius: 3px;
			color: #333;
			font-size: 18px;
	       	padding: 0 9px;
		}
