/* tree
-------------------------------------------------------------------*/
.tree-title {
		background: -moz-linear-gradient(top, #8aec00, #48a000);
		background: -o-linear-gradient(top, #8aec00, #48a000);
		background: -webkit-linear-gradient(top, #8aec00, #48a000);
		background: -ms-linear-gradient(top, #8aec00, #48a000);
		background: linear-gradient(top, #8aec00, #48a000);
		color: #fff !important;
		font: bold 16px/43px Arial;
		margin: 0;
		padding: 0 20px;
	}
#tree {
	display: none;
	width: 240px;
}
	#tree .tree-title {
        border-radius: 6px 6px 0 0;
		cursor: default;
	}
	#tree A {
		border: none !important;
	}
	#tree > UL,
	#tree > UL > LI:last-child,
	#tree > UL > LI:last-child A {
		border-radius: 0 0 6px 6px;
	}
	#tree > UL {
		box-shadow: 0 5px 7px -8px rgba(0, 0, 0, 0.9);
		position: relative;
	}
	#tree > UL > LI {
		border-bottom: 1px solid #dcdcde;
	}
	#tree > UL > LI > A {
		background: #f5f5f5 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAJCAMAAAAmRK2vAAAARVBMVEXNzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc0AAADNzc3vARi8AAAAFnRSTlO+xcbb3PYZu9XWvRge2A/JEBa4LRsAL5TpLwAAADdJREFUeF41ybcRwCAABMGXd0jC3fdfKiSEO6tyJ0DZ1w6Kv9+K+CavQVA3q2v2EsZlnw+oHAloaqMDYVyR+MoAAAAASUVORK5CYII=) 240px center no-repeat;
		color: #333;
		display: block;
		font-size: 13px;
		line-height: 16px;
		padding: 8px 25px 8px 20px;
	}
	#tree > UL > LI > A .new {
		color: red;
                display: inline-block;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAASCAIAAADHZSmzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT9JREFUeNpi/J/jw0BtwMRAAzBqKPUBc4OZGoqAYzCDtSeDqj6DdwyDhALD9TMgwaAMEFfThOHjBwZ2DoaMRoYXzxj+/GTI62D4/Inh1WOGkgkMf/4zPL2Lw6WCogwWjgzfvzE8f8Tg6M2gpMfgGQdiHNoOkk0sZnjxkIFfkMHAikHTnEFemUHPgkHXCsR4dANuBgt2D2xfBFIKNJ2bh0HbiOHDOwYZRZC4gBBI/MZFBi1DBk4uhpfPGBTVQeJABtAyAoYigx/fQE67fQnEPrWP4cE1hq9fQPYBwcaFDGmVIMbZoyRG1KmDIAcCvWnvw+AfDxK5dwnkdnEphsvHGB7eBTHOH0TWgeFSiIuA4PVThv1bQSTQX2+egwLx+yOGNTMZPn8AyW5eBgoZINi5ikFGBdnvQMA4mvdHsKEAAQYACQ9jkFuc8jYAAAAASUVORK5CYII=) repeat scroll left top transparent;
                width: 28px;
                height: 18px;
                margin-left: 10px;
                border-radius: 5px;
                vertical-align: middle;
	}
	#tree > UL > LI > DIV > UL > LI > A .new {
		width: 28px;
                display: inline-block;
                background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAASCAIAAADHZSmzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT9JREFUeNpi/J/jw0BtwMRAAzBqKPUBc4OZGoqAYzCDtSeDqj6DdwyDhALD9TMgwaAMEFfThOHjBwZ2DoaMRoYXzxj+/GTI62D4/Inh1WOGkgkMf/4zPL2Lw6WCogwWjgzfvzE8f8Tg6M2gpMfgGQdiHNoOkk0sZnjxkIFfkMHAikHTnEFemUHPgkHXCsR4dANuBgt2D2xfBFIKNJ2bh0HbiOHDOwYZRZC4gBBI/MZFBi1DBk4uhpfPGBTVQeJABtAyAoYigx/fQE67fQnEPrWP4cE1hq9fQPYBwcaFDGmVIMbZoyRG1KmDIAcCvWnvw+AfDxK5dwnkdnEphsvHGB7eBTHOH0TWgeFSiIuA4PVThv1bQSTQX2+egwLx+yOGNTMZPn8AyW5eBgoZINi5ikFGBdnvQMA4mvdHsKEAAQYACQ9jkFuc8jYAAAAASUVORK5CYII=") repeat scroll left -2px;
                height: 12px;
                margin-left: 5px;
	}
	#tree > UL > LI > A:hover,
	#tree > UL > LI > A.active {
		background-color: #fff;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		-webkit-transition: all .3s ease;
		-ms-transition: all .3s ease;
		transition: all .3s ease;
	}
	#tree > UL > LI > A.special {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAMAAABVLlSxAAAAS1BMVEX/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEz/bEwAAAD/bExq50HsAAAAGHRSTlOchsJ4YE7x4BbioG0u0LBD6Etc/AYQ7gB5+Z05AAAASElEQVR4Xj3KtxEAMQwDQb238nT9VyqSgRBgNrjAtt/fjQWmm9TpJK/7I6IuXb8FrkVsT7bmvpQRvceuPsG9y5qjHO60McOiGB+vCJuu3BAlAAAAAElFTkSuQmCC);
		background-position: 19px 9px;
		font-weight: 700;
		padding-left: 40px;
	}
	#tree > UL > LI > A.special.on-order {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAAoUlEQVR42ozQPQ5BYRCF4QeJkugobIFapxAauVGguokVWIAVWIAtWIBCIwqFWiOxALWfShS30nwSufkKk0wmc+ZNzswUWpubSLRwzovFCFjFDuV/4AR19P6Bx6FOY/AcDzxDDsMs/dHuSItYYYYMtR+3UuhfmGD9HWzDB6455wvaOOR3ztDIwU28YweOwruO6OOECgYxOMECXezRwTLo4DMAgfwa/owzUtcAAAAASUVORK5CYII=');
        background-position: 19px 9px, 244px center;
	}
	#tree > UL > LI > A.special.service {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKtJREFUeNpi+P//PwM6frE5Wg+bOBMDGni5JYYfSO0E0mzochiKgcAPiCWA2IUYxSFQOgxdghHovlwg3QBiQ8X4oYb8BeJPULF/QFzACHI40H0+QM4cIBbHYtNjII4X91myH6wY6jExIHUKiOWRFF4FYlugwvfobv4FxJJopsoC8TdsHgwAYlBwHQZiNyA+C8R8QOyOTTEoyCqB2AFo7W4gbQnE7VBxMAAIMABxYUb03if7+QAAAABJRU5ErkJggg=='), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAJCAMAAAAmRK2vAAAARVBMVEXNzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc0AAADNzc3vARi8AAAAFnRSTlO+xcbb3PYZu9XWvRge2A/JEBa4LRsAL5TpLwAAADdJREFUeF41ybcRwCAABMGXd0jC3fdfKiSEO6tyJ0DZ1w6Kv9+K+CavQVA3q2v2EsZlnw+oHAloaqMDYVyR+MoAAAAASUVORK5CYII=);
        background-position: 19px 9px, 244px center;
	}
	#tree .subtree {
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 0 6px 6px 6px;
		box-shadow: 1px -1px 3px -1px rgba(0, 0, 0, 0.2) inset;
		display: none;
		left: 240px;
		padding: 25px 0 0 20px;
		position: absolute;
		top: 0;
		width: 710px;
		z-index: 10;
	}
		#tree .subtree UL {
			float: left;
			padding: 0 0 25px 15px;
			position: relative;
			width: 220px;
			z-index: 1;
		}
			#tree .subtree UL:nth-child(4),
			#tree .subtree UL:nth-child(7) {
				clear: left;
			}
			#tree .subtree UL LI {
				height: 18px;
				overflow: hidden;
				width: 100%;
			}
				#tree .subtree UL LI * {
					width: 200%;
				}
				#tree .subtree UL LI A {
					display: block;
					position: relative;
				}
				#tree .subtree UL LI A:after {
					background: -moz-linear-gradient(left, rgba(255,255,255,0) 200px, rgba(255,255,255,.3) 205px, #fff 220px);
					background: -o-linear-gradient(left, rgba(255,255,255,0) 200px, rgba(255,255,255,.3) 205px, #fff 220px);
					background: -webkit-linear-gradient(left, rgba(255,255,255,0) 200px, rgba(255,255,255,.3) 205px, #fff 220px);
					background: -ms-linear-gradient(left, rgba(255,255,255,0) 200px, rgba(255,255,255,.3) 205px, #fff 220px);
					background: linear-gradient(left, rgba(255,255,255,0) 200px, rgba(255,255,255,.3) 205px, #fff 220px);
					content: ' ';
   					left: 0;
   					height: 100%;
   					position: absolute;
   					top: 0;
   					width: 100%;
				}
				#tree .subtree UL LI.top2 {
                    font-weight: bold;
				}
				#tree .subtree UL LI.top {
                    height: auto;
                    font-weight: bold;
				}
					#tree .subtree UL LI.top * {
						width: auto;
					}
						#tree .subtree UL LI.top A:after {
							background: none;
						}
			#tree .subtree UL A {
				color: #333;
			}
				#tree .subtree UL A:hover {
					color: #1280da;
				}
			#tree .subtree .hint {
				background: #fff;
				box-shadow: 1px 1px 1px rgba(0,0,0,.1);
				color: #1280da;
				height: 18px;
				left: 0;
				padding: 0 2px;
				position: absolute;
				top: 0;
				white-space: nowrap;
				width: auto;
			}
				#tree .subtree .hint.bold {
					font-size: 13px;
					font-weight: 700;
				}

	#tree .product {
		float: right;
		overflow: hidden;
		padding: 0 10px 25px 0;
		position: relative;
		width: 220px;
		z-index: 1;
	}
		#tree .product .image {
			border: none ! important;
		}
			#tree .product .image IMG {
				width: 140px;
			}
		#tree .product .price {
			font-size: 14px;
		}
		#tree .product .discount {
			background: #63bf00;
			font-size: 12px;
			line-height: 28px;
			height: 28px;
			left: 10px;
			top: 14px;
			width: 50px;
		}
			#tree .product .discount:before,
			#tree .product .discount:after {
		    	border-left: 25px solid rgba(99, 191, 0, 0);
		    	border-right: 25px solid rgba(99, 191, 0, 0);
			}
			#tree .product .discount:before {
	   			top: -14px;
		    	border-bottom: 14px solid #63bf00;
			}
			#tree .product .discount:after {
			    bottom: -14px;
			    border-top: 14px solid #63bf00;
			}
#tree .go-to-category{
	display: none;
	position: absolute;
	right: 25px;
	top: 0;
	height: 100%;
	background: none;
	text-decoration: underline !important;
	font-size: 13px;
	margin-top: 0px;
	margin-right: 15px;
	color: #5fad12;
	font-weight: bold;
	z-index: 3;
	white-space: nowrap;
}
#tree .go-to-category span{
	display: table-cell;
	vertical-align: middle;
}
#tree .subtree UL LI.top span.go-to-category{
	display: none;
	background: none;
	text-decoration: underline !important;
	font-size: 13px;
	margin-top: 0;
	margin-right: 15px;
	color: #5fad12;
	font-weight: bold;
}
#tree .mobile-all {
	display: none;
}

#tree > UL > LI.opened > span.go-to-category{
	display: table !important;
	text-decoration: underline;
	padding: 0;
	margin-top: 17px;
}
#tree > UL > LI > span.go-to-category{
	background: transparent !important;
}
#tree > UL > LI > span.go-to-category:before{
	display: none;
}
#tree .subtree ul.third-menu-open li{
	display: block;
}
#tree .subtree ul.third-menu-open{
	border-bottom: 1px solid #cde9a2;
}
