# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:

    pgsql_host: 192.168.122.195 # 136.243.178.124 # 127.0.0.1
    pgsql_port: 5432
    pgsql_dbname: dev # symfony
    pgsql_user: dev # posgres
    pgsql_password: slx9SOnAj3dNiqSgMGQz

    sphinxql_host: 192.168.122.195 # 127.0.0.1
    sphinxql_port: 9318 # 9306

    memcached_host: 'localhost'
    memcached_port: 11211

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt123123123

    cookie_secure: true

    uploads.domain: ''
    uploads.dir: ''
    products.images.web_path: ''
    brands.logos.web_path: ''
    banners.images.web_path: ''

    default.geo_city_id: 1
    default.geo_point_id: 141

    default.page_title: 'DEFAULT PAGE TITLE'
    default.page_description: 'DEFAULT PAGE DESCRIPTION'

    catalog.page_limit: 25

    admin.host: 'https://dev.vseinet.ru'
    api.host: 'https://dev.vseinet.ru'
    api.public_id: '10_2dn1xykyvjwgs4ok00wk888sgc0sg8skww0kwkswsswgk0kso8'
    api.secret: '24v1kfg5asu88g4k88wc408gc8g0osccokwcc8sc0kkc8cwkgo'
    slack_channel_errors_url: 'https://hooks.slack.com/services/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'
