<a href="{{ path('cart') }}" class="cart">
    {% if cart.total %}
        {{ cart.total }} {{ cart.total|declension('товар;товара;товаров') }}
        на сумму {{ cart.amount|price_format({ decimals: 0, ds: '.', ts: ' ' }) }} <span class="RUR">Р</span>
    {% else %}
        Корзина пустая
    {% endif %}
</a>
