<div id="user-account">
    <div class="w60p">
        {% include 'AppBundle:User:account_info.html.twig' %}
        {% include 'AppBundle:User:account_contacts.html.twig' %}
        {% include 'AppBundle:User:account_addresses.html.twig' %}
    </div>
</div>