{% extends "AppBundle::layout.html.twig" %}

{% block pageTitle %}
    Личный кабинет
{% endblock %}

{% block content %}
    <h1>{{ app.user.person.fullname }}</h1>
    {% include 'AppBundle:User:account_menu.html.twig' with { active: 'account' }  %}
    {% include 'AppBundle:User:account_ajax.html.twig' %}
{% endblock %}