{% extends "AppBundle::layout.html.twig" %}

{% block pageTitle %}
    Добавление нового адреса 
{% endblock %}

{% block content %}
    <h1>Добавление нового адреса</h1>
    <div class="block gray w60p">
        <div class="wrapper">
            {% include 'AppBundle:User:address_form_ajax.html.twig' %}
        </div>
    </div>
{% endblock %}