{% extends "AppBundle::layout.html.twig" %}

{% block pageTitle %}
    Редактирование контакта 
{% endblock %}

{% block content %}
    <h1>Редактирование контакта</h1>
    <div class="block gray w60p">
        <div class="wrapper">
            {% include 'AppBundle:User:contact_edit_form_ajax.html.twig' %}
        </div>
    </div>
{% endblock %}