{% if app.userIdentity.isAuthorized or true %}
    <ul class="tabs r">
        <li>
            <a href="{{ url('user_account') }}" class="green">Личная информация</a></li>
        <li>
            <a 
                href="{% if 'favorite' == current %}#favorite{% else %}{{ url('user_history') }}{% endif %}" 
                class="green"
            >
                История заказов
            </a>
        </li>
        <li><a href="{{ url('favorite') }}" class="green">Избранные товары</a></li>
    </ul>
{% endif %}