{% extends "AppBundle::layout.html.twig" %}

{% block pageTitle %}
    Смена пароля 
{% endblock %}

{% block content %}
    <h1>Смена пароля</h1>
    <div class="block gray w60p">
        <div class="wrapper">
            {% include 'AppBundle:User:password_form_ajax.html.twig' %}
        </div>
    </div>
{% endblock %}