<form method="post" id="ProductFilter">
    <div class="mob-filter">
        <a href="{{ resetUrl }}" class="bttn light gray mob_filter_reset">Сброс</a>
        <a href="#" class="bttn blue close_mob_filter">Свернуть</a>
    </div>
    <div class="filter">
        {% include 'Catalog/filter_price.html.twig' %}
        {% include 'Catalog/filter_brands.html.twig' %}
        {% include 'Catalog/filter_details.html.twig' %}
        {% include 'Catalog/filter_categories.html.twig' %}
        {% include 'Catalog/filter_availability.html.twig' %}
        {% include 'Catalog/filter_nofilled.html.twig' %}
        {# search #}
        {% if view != 'search' %}
        <div class="tab search expanded">
            <span class="filter-titles">Поиск в наименовании</span>
        </div>
        <div class="sheet search" style="display:block">
            <input type="text" name="filter[name]" class="txt" value="{{ filter.name }}" />
        </div>
        {% endif %}
        {# apply #}
        <div class="tab last apply">
            <a href="{{ resetUrl }}" class="gray">Сброс</a>
            <button type="submit" class="bttn light r">Применить</button>
            <button type="submit" class="bttn light prev total hidden"></button>
        </div>
    </div>
</form>
