<div id="upper-paging">
    {% include 'Catalog/paging.html.twig' %}
</div>
<div id="product-list">
    {% include 'Catalog/products_list.html.twig' %}
</div>
<div class="showmore-container" id="showmore-container">
    {% include 'Catalog/showmore.html.twig' %}
</div>
<style>
    #upper-paging .paging { padding-top: 10px; text-align: right; }
</style>