{% extends "ServiceBundle:Senders:base_page.html.twig" %}

{% block content %}
    <h2 style="color:#333;font-size: 14px;margin:30px 0 15px 0;  font-weight: normal;">Товар по Вашей заявке не поступил на склад</h2>
    <table width="100%" class="order" style="color:#333;border-collapse: collapse;border-spacing: 0;border:none;border-bottom:solid 2px #61BD00;">
        <tr>
            <th width="40" style="color:white; background-color:#61BD00; font-weight: normal; padding: 5px;"># заявки</th>
            <th align="left" style="color:white; background-color:#61BD00; font-weight: normal; padding: 5px;">Наименование</th>
        </tr>

        {% for id, order in positions %}
            {% for position in order %}
                <tr>
                    <td style="padding: 10px; border:none; border-bottom:dotted 1px #61BD00;">{{ id }}</td>
                    <td style="padding: 10px; border:none; border-bottom:dotted 1px #61BD00;">{{ position.name }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
    <p style="color:#333;">Если он сохранил актуальность, советуем посмотреть аналог или позвонить по телефону 8 (8412) 29-07-08 и
        наши менеджеры с удовольствие помогут Вам с подбором по характеристикам товара.</p>
{% endblock %}
