<html>
<head></head>
<body style="color:#333;">
    <table style="color:#333;" class="header" width="100%">
        <tr>
            <td width="50%" align="left" valign="middle"><img src="http://vseinet.ru/img/new_logo.png" alt="Интернет-магазин Vseinet.ru"/></td>
            <td width="50%" align="right" valign="middle"><span class="phone" style="font-size: 20px;">т. 8 (8412) 290-708</span></td>
        </tr>
    </table>
    <hr style="border:solid 1px #61BD00;"/>
    {% block content %}{% endblock %}
    <hr style="margin-top:25px;border:solid 1px #E4E4E4;"/>
    <p style="font-size: 12px; color: rgb(136, 136, 136);">
        Тел.: 8 (8412) 290-708<br/>
        E-mail: mail@vseinet.ru<br/>
        Skype: <a href="skype:vseinet?chat">vseinet</a>
    </p>
</body>
</html>