{% extends "ServiceBundle:Senders:base_page.html.twig" %}

{% block content %}
    <p style="color:#333;">
        Добрый день! Во вложении – Договор поставки №{{ order_contract.number }}.
    </p>
{% endblock %}
