{% extends "layout.html.twig" %}

{% block pageTitle %}Вакансии{% endblock %}

{% block content %}
    {{ render(controller('AppBundle:Vacancy:getList')) }}
    <div class="wrapper" id="vacancy">
        {% if vacancy is defined %}
            {% include 'Vacancy/vacancy.html.twig' %}
        {% else %}
            <div class="content text_page">
                {{ page.content|raw }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
<script>
$(function() {
    var nav = $('#nav a').click(function(e) {
        var a = $(this);
        if ( ! a.is('.current')) {
            nav.removeClass('current');
            sp.get(a.prop('href')).done(function(data) {
                a.addClass('current');
                $('#vacancy').html(data.html);
            });
        }
        e.preventDefault();
    });
    {% if vacancy is defined %}
        nav.filter('[data-id={{ vacancy.id }}]').addClass('current');
    {% endif %}
});
</script>
{% endblock %}

{% block stylesheets %}
<style>
#nav {
    padding-top: 24px;
}
#nav LI {
    margin: 0 0 5px;
}
#nav .current {
    border: none !important;
    color: #333;
    cursor: default;
}
#vacancy TH {
    text-align: left;
    vertical-align: top;
    width: 170px;
}
#vacancy TD {
    padding-bottom: 12px;
}
</style>
{% endblock %}
