{% extends "layout.html.twig" %}

{% block pageTitle %}{{ page.title }} в интернет-магазине Vseinet.ru{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <div class="content text_page">
        {{ page.content|raw }}
    </div>
{% endblock %}
