{% extends "layout.html.twig" %}

{% block pageTitle %}Пользовательское соглашение интернет-магазина Vseinet.ru.{% endblock %}

{% block pageDescription %}
    {{ app.defaultPageDescription }}
{% endblock %}

{% block content %}
    <h2>Пользовательское соглашение</h2>
    <div class="content text_page">
        {% include 'Main/agreement_text.html.twig' %}
    </div>
{% endblock %}
