{% extends "layout.html.twig" %}

{% block pageTitle %}Личный кабинет в интернет-магазине Vseinet.ru{% endblock %}

{% block content %}
    <div id="user-account">
        {% include 'User/account_menu.html.twig' with { active: 'account' } %}
        <h1>Личная информация</h1>
        <div class="w60p">
            {% include 'User/account_ajax.html.twig' %}
        </div>
        <div id="products" class="block w40p r">
            {{ render(controller('AppBundle:Main:getBlockLastview')) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
$(function() {
    $('#user-account').tabs({
        active: 0,
        beforeActivate: function(event, ui) {
            window.location = ui.newTab.find('a').prop('href');
            return false;
        }
    });
});
</script>
{% endblock %}
