<div id="user-account">
    <div class="w60p">
        {% include 'User/account_info.html.twig' %}
        {% include 'User/account_contacts.html.twig' %}
        {% include 'User/account_addresses.html.twig' %}
    </div>
</div>