<div class="block">
    <div class="wrapper" id="user-contacts">
        <h2>Контактные данные</h2>
        <table class="account-table">
            <thead>
                <tr>
                    <td>Тип</td>
                    <td>Контакт</td>
                    <td style="width:40px"></td>
                </tr>
            </thead>
            <tbody>
                {% for contact in account.contacts %}
                    {% include 'User/contact.html.twig' with { contact: contact } %}
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('user_contact_add') }}" class="contact-add contact-edit">Добавить контакт</a>
    </div>
</div>