{% extends "layout.html.twig" %}

{% block pageTitle %}
    Личный кабинет
{% endblock %}

{% block content %}
    <div id="user-account">
        {% include 'User/account_menu.html.twig' with { active: 'account' } %}
        <h1>{{ app.user.person.fullname }}</h1>
        {% include 'User/account_ajax.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
<script>
$(function() {
    $('#user-account').tabs({
        active: 0,
        beforeActivate: function(event, ui) {
            window.location = ui.newTab.find('a').prop('href');
            return false;
        }
    });
});
</script>
{% endblock %}