{% extends "layout.html.twig" %}

{% set title = command.id ? 'Редактирование контакта' : 'Добавление нового контакта' %}

{% block pageTitle %}{{ title }} в интернет-магазине Vseinet.ru{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="block gray w60p">
        <div class="wrapper">
            {% include 'User/contact_form_ajax.html.twig' %}
        </div>
    </div>
{% endblock %}
