{% if app.user is null %}
    <div class="row h{% if errors.isHuman is defined %} error{% endif %}">
        <label for="{{ form.isHuman.vars.id }}">
            Я человек! <b>*</b>
            {{ form_widget(form.isHuman, { attr: { style: 'margin-top:4px' }}) }}
        </label>
        {% if errors.isHuman is defined %}
            <div class="error">{{ errors.isHuman.0 }}</div>
        {% endif %}
    </div>
{% endif %}
