{% extends "layout.html.twig" %}

{% block pageTitle %}
    Избранное / Интернет-магазин "Vseinet.ru"
{% endblock %}

{% block content %}
    <div class="breadcrumbs"> <a href="{{ path('catalog_category') }}">Каталог</a></div>
    <div id="user-account">
        {% include 'User/account_menu.html.twig' with { active: 'favorite' } %}
        <h1>Избранное <small>{{ favorites|length }} {{ favorites|length|declension('товар;товара;товаров') }}</small></h1>
        <div id="favorite">
            {% include 'Favorite/page.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
$(function() {
    $('#user-account').tabs({
        active: 2,
        beforeActivate: function(event, ui) {
            window.location = ui.newTab.find('a').prop('href');
            return false;
        }
    });
});
</script>
{% endblock %}

